<div id="<%= dom_id attendee_event %>">

  <p>
    <strong>event_attendee_id:</strong>
    <%= attendee_event.event_attendee_id %>
  </p>

  <p>
    <strong>attended_event_id:</strong>
    <%= attendee_event.attended_event_id %>
  </p>

</div>